// Common
$titleTxt: 1.25rem;
$contentTxt: 1rem;


// default theme
$primaryColor: #fff;
$primaryTxt: #444;
$primaryTxt2: rgb(42, 185, 165);
$primaryPointColor: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);


// secondary theme
$secondaryColor: #100e17;
$secondaryTxt: #fff;
$secondaryTxt2: rgb(255, 138, 0);
$secondaryPointColor: linear-gradient(90deg,#ff8a00,#e52e71);

